In [1]:
##
## Summary: In the education industry, high schools prep students for the next chapter in his/her life. 
##    Viewing university statistics and massachusetts high school statistics, 
##    do patterns exist to show patterns between acceptance rates, SAT scores and demographics?
##    
##    The first dataset is:
##        
##        
##        
##    The second dataset is:
##        
##        

#Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


#Import the first dataset (Massachusetts high school)
mshs=pd.read_csv('../data/external/MA_Public_Schools_2017.csv')

#Import the second dataset (University data)
univ=pd.read_json('../data/external/schoolInfo.json')

In [2]:
#Cleaning up MA school data....


#Output MA Public School data....
mshs

,School Code,School Name,School Type,Function,Contact Name,Address 1,Address 2,Town,State,Zip,...,MCAS_10thGrade_English_Incl. in SGP(#),Accountability and Assistance Level,Accountability and Assistance Description,School Accountability Percentile (1-99),Progress and Performance Index (PPI) - All Students,Progress and Performance Index (PPI) - High Needs Students,District_Accountability and Assistance Level,District_Accountability and Assistance Description,District_Progress and Performance Index (PPI) - All Students,District_Progress and Performance Index (PPI) - High Needs Students
0,10505,Abington High,Public School,Principal,Teresa Sullivan-Cruz,201 Gliniewicz Way,NaN,Abington,MA,2351,...,111.0,Level 1,Meeting gap narrowing goals,42.0,76.0,75.0,Level 3,One or more schools in the district classified...,63.0,60.0
1,10003,Beaver Brook Elementary School,Public School,Principal,Catherine Zinni,1 Ralph Hamlin Lane,NaN,Abington,MA,2351,...,NaN,Level 3,Among lowest performing 20% of subgroups,34.0,69.0,73.0,Level 3,One or more schools in the district classified...,63.0,60.0
2,10002,Center Elementary School,Public School,Principal,Lora Monachino,201 Gliniewicz Way,NaN,Abington,MA,2351,...,NaN,Insufficient data,NaN,NaN,NaN,NaN,Level 3,One or more schools in the district classified...,63.0,60.0
3,10405,Frolio Middle School,Public School,Principal,Matthew MacCurtain,201 Gliniewicz Way,NaN,Abington,MA,2351,...,NaN,Level 2,Not meeting gap narrowing goals,40.0,63.0,64.0,Level 3,One or more schools in the district classified...,63.0,60.0
4,10015,Woodsdale Elementary School,Public School,Principal,Jonathan Hawes,128 Chestnut Street,NaN,Abington,MA,2351,...,NaN,Level 2,Not meeting gap narrowing goals,52.0,65.0,67.0,Level 3,One or more schools in the district classified...,63.0,60.0
5,30025,Acushnet Elementary School,Public School,Principal,Susan Beck,800 Middle Road,NaN,Acushnet,MA,2743,...,NaN,Level 2,Not meeting gap narrowing goals,65.0,74.0,68.0,Level 2,One or more schools in the district classified...,50.0,57.0
6,30305,Albert F Ford Middle School,Public School,Principal,Michelle Silvia,708 Middle Road,NaN,Acushnet,MA,2743,...,NaN,Level 2,Not meeting gap narrowing goals,53.0,52.0,52.0,Level 2,One or more schools in the district classified...,50.0,57.0
7,50003,Agawam Early Childhood Center,Public School,Principal,Robin Fernandes,108 Perry Lane,NaN,Agawam,MA,1001,...,NaN,Insufficient data,NaN,NaN,NaN,NaN,Level 2,One or more schools in the district classified...,54.0,56.0
8,50505,Agawam High,Public School,Principal,Thomas Schnepp,760 Cooper Street,NaN,Agawam,MA,1001,...,263.0,Level 2,Not meeting gap narrowing goals,41.0,65.0,61.0,Level 2,One or more schools in the district classified...,54.0,56.0
9,50405,Agawam Junior High,Public School,Principal,Norman Robbins,1305 Springfield St,Suite 2,Feeding Hills,MA,1030,...,NaN,Level 2,Not meeting gap narrowing goals,30.0,54.0,54.0,Level 2,One or more schools in the district classified...,54.0,56.0
10,50020,Benjamin J Phelps,Public School,Principal,Noelle Colbert,689 Main Street,NaN,Agawam,MA,1001,...,NaN,Level 2,Not meeting gap narrowing goals,28.0,52.0,55.0,Level 2,One or more schools in the district classified...,54.0,56.0
11,50010,Clifford M Granger,Public School,Principal,Cheryl Salomao,31 So. Westfield Street,NaN,Feeding Hills,MA,1030,...,NaN,Level 2,Not meeting gap narrowing goals,68.0,77.0,53.0,Level 2,One or more schools in the district classified...,54.0,56.0
12,50030,James Clark School,Public School,Principal,Shelley Russell,65 Oxford Street,NaN,Agawam,MA,1001,...,NaN,Level 2,Not meeting gap narrowing goals,46.0,64.0,59.0,Level 2,One or more schools in the district classified...,54.0,56.0
13,50303,Roberta G. Doering School,Public School,Principal,Susan Federico,68 Main Street,NaN,Agawam,MA,1001,...,NaN,Level 2,Not meeting gap narrowing goals,54.0,52.0,52.0,Level 2,One or more schools in the district classified...,54.0,56.0
14,50025,Robinson Park,Public School,Principal,Nicholas Bernier,65 Begley Street,NaN,Agawam,MA,1001,...,NaN,Level 2,Not meeting gap narrowing goals,56.0,59.0,71.0,Level 2,One or more schools in the district classified...,54.0,56.0
15,70005,Amesbury Elementary,Public School,Principal,Walter Helliesen,20 South Hampton Road,NaN,Amesbury,MA,1913,...,NaN,Level 2,Not meeting gap narrowing goals,57.0,60.0,45.0,Level 2,One or more schools in the district classified...,50.0,46.0
16,70505,Amesbury High,Public School,Principal,Elizabeth McAndrews,5 Highland Street,NaN,Amesbury,MA,1913,...,133.0,Level 2,Not meeting gap narrowing goals,53.0,67.0,66.0,Level 2,One or more schools in the district classified...,50.0,46.0
17,70515,Amesbury Innovation High School,Public School,Principal,Eryn Maguire,71 Friend Street,NaN,Amesbury,MA,1913,...,NaN,Insufficient data,NaN,NaN,NaN,NaN,Level 2,One or more schools in the district classified...,50.0,46.0
18,70013,Amesbury Middle,Public School,Principal,Michael Curry,220 Main Street,NaN,Amesbury,MA,1913,...,NaN,Level 2,Not meeting gap narrowing goals,50.0,50.0,46.0,Level 2,One or more schools in the district classified...,50.0,46.0
19,70010,Charles C Cashman Elementary,Public School,Principal,Mary Charette,193 Lions Mouth Road,NaN,Amesbury,MA,1913,...,NaN,Level 2,Not meeting gap narrowing goals,59.0,56.0,62.0,Level 2,One or more schools in the district classified...,50.0,46.0
20,80009,Crocker Farm Elementary,Public School,Principal,Derek Shea,280 West Street,NaN,Amherst,MA,1002,...,NaN,Level 2,Not meeting gap narrowing goals,54.0,65.0,76.0,Level 2,One or more schools in the district classified...,54.0,60.0
21,80020,Fort River Elementary,Public School,Principal,Diane Chamberlain,70 So East Street,NaN,Amherst,MA,1002,...,NaN,Level 2,Not meeting gap narrowing goals,38.0,49.0,50.0,Level 2,One or more schools in the district classified...,54.0,60.0
22,80050,Wildwood Elementary,Public School,Principal,Nicholas Yaffe,71 Strong Street,NaN,Amherst,MA,1002,...,NaN,Level 2,Not meeting gap narrowing goals,64.0,62.0,72.0,Level 2,One or more schools in the district classified...,54.0,60.0
23,90505,Andover High,Public School,Principal,Philip Conrad,80 Shawsheen Road,NaN,Andover,MA,1810,...,310.0,Level 2,Not meeting gap narrowing goals,81.0,85.0,64.0,Level 2,One or more schools in the district classified...,83.0,57.0
24,90310,Andover West Middle,Public School,Principal,Rebecca Franks,70 Shawsheen Road,NaN,Andover,MA,1810,...,NaN,Level 2,Not meeting gap narrowing goals,85.0,81.0,68.0,Level 2,One or more schools in the district classified...,83.0,57.0
25,90003,Bancroft Elementary,Public School,Principal,Michelle Costa,15 Bancroft Street,NaN,Andover,MA,1810,...,NaN,Level 2,Not meeting gap narrowing goals,75.0,65.0,60.0,Level 2,One or more schools in the district classified...,83.0,57.0
26,90305,Doherty Middle,Public School,Principal,Robin Wilson,50 Bartlet Street,NaN,Andover,MA,1810,...,NaN,Level 2,Not meeting gap narrowing goals,91.0,97.0,74.0,Level 2,One or more schools in the district classified...,83.0,57.0
27,90010,Henry C Sanborn Elementary,Public School,Principal,Jason DiCarlo,90 Lovejoy Road,NaN,Andover,MA,1810,...,NaN,Level 2,Not meeting gap narrowing goals,81.0,65.0,61.0,Level 2,One or more schools in the district classified...,83.0,57.0
28,90004,High Plain Elementary,Public School,Principal,Pamela Lathrop,333 High Plain Road,NaN,Andover,MA,1810,...,NaN,Level 1,2016 Level held harmless,95.0,100.0,71.0,Level 2,One or more schools in the district classified...,83.0,57.0
29,90005,Shawsheen School,Public School,Principal,Carol Green,18 Magnolia Avenue,NaN,Andover,MA,1810,...,NaN,Insufficient data,NaN,NaN,NaN,NaN,Level 2,One or more schools in the district classified...,83.0,57.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1831,3480285,University Pk Campus School,Public School,Principal,Daniel St. Louis,12 Freeland Street,NaN,Worcester,MA,1610,...,34.0,Level 2,Not meeting gap narrowing goals,54.0,59.0,58.0,Level 4,One or more schools in the district classified...,57.0,52.0
1832,3480280,Vernon Hill School,Public School,Principal,Carenza Jackson,211 Providence Street,NaN,Worcester,MA,1607,...,NaN,Level 3,Among lowest performing 20% of schools and sub...,12.0,55.0,77.0,Level 4,One or more schools in the district classified...,57.0,52.0
1833,3480026,Wawecus Road School,Public School,Principal,Joanna Loftus,20 Wawecus Rd,NaN,Worcester,MA,1605,...,NaN,Level 2,Not meeting gap narrowing goals,27.0,71.0,75.0,Level 4,One or more schools in the district classified...,57.0,52.0
1834,3480260,West Tatnuck,Public School,Principal,Ellen Moynihan,300 Mower Street,NaN,Worcester,MA,1602,...,NaN,Level 1,Meeting gap narrowing goals,92.0,100.0,100.0,Level 4,One or more schools in the district classified...,57.0,52.0
1835,3480030,Woodland Academy,Public School,Principal,Patricia Padilla,93 Woodland Street,NaN,Worcester,MA,1610,...,NaN,Level 3,Among lowest performing 20% of schools,12.0,72.0,72.0,Level 4,One or more schools in the district classified...,57.0,52.0
1836,3480225,Worcester Arts Magnet School,Public School,Principal,Mary Ellen Scanlon,315 St Nicholas Avenue,NaN,Worcester,MA,1606,...,NaN,Level 1,Meeting gap narrowing goals,79.0,100.0,95.0,Level 4,One or more schools in the district classified...,57.0,52.0
1837,3480420,Worcester East Middle,Public School,Principal,Rose Dawkins,420 Grafton Street,NaN,Worcester,MA,1604,...,NaN,Level 3,Among lowest performing 20% of schools,15.0,66.0,60.0,Level 4,One or more schools in the district classified...,57.0,52.0
1838,3480605,Worcester Technical High,Public School,Principal,Kyle Brenner,1 Skyline Drive,NaN,Worcester,MA,1605,...,318.0,Level 1,Meeting gap narrowing goals,74.0,100.0,98.0,Level 4,One or more schools in the district classified...,57.0,52.0
1839,3490010,R. H. Conwell,Public School,Principal,Gretchen Morse-Dobosz,174 Huntington Road,NaN,Worthington,MA,1098,...,NaN,Insufficient data,NaN,NaN,NaN,NaN,Insufficient data,NaN,NaN,NaN
1840,3500010,Charles E Roderick,Public School,Principal,Vanessa Beauchaine,120 Taunton Street,NaN,Wrentham,MA,2093,...,NaN,Level 2,Not meeting gap narrowing goals,81.0,70.0,59.0,Level 2,One or more schools in the district classified...,78.0,60.0
1841,3500003,Delaney,Public School,Principal,Colleen Wagstaff,120 Taunton Street,NaN,Wrentham,MA,2093,...,NaN,Level 1,Meeting gap narrowing goals,NaN,84.0,75.0,Level 2,One or more schools in the district classified...,78.0,60.0
1842,35090305,Argosy Collegiate Charter School,Charter School,Principal,Kristen Pavao,263 Hamlet Street,NaN,Fall River,MA,2724,...,NaN,Insufficient data,NaN,NaN,NaN,NaN,Insufficient data,NaN,NaN,NaN
1843,35020405,Baystate Academy Charter Public School,Charter School,Principal,Joretha Lewis,2001 Roosevelt Avenue,NaN,Springfield,MA,1104,...,NaN,Insufficient data,NaN,NaN,NaN,NaN,Insufficient data,NaN,NaN,NaN
1844,35110205,Bentley Academy Charter School,Charter School,Principal,Marlena Afonso,25 Memorial Drive,NaN,Salem,MA,1970,...,NaN,Level 1,Meeting gap narrowing goals,24.0,89.0,90.0,Level 1,Meeting gap narrowing goals,89.0,90.0
1845,35040505,City on a Hill Charter Public School Dudley Sq...,Charter School,Principal,Sonya Pratt,2179 Washington Street,NaN,Roxbury,MA,2119,...,46.0,Insufficient data,NaN,NaN,NaN,NaN,Insufficient data,NaN,NaN,NaN
1846,35070505,City on a Hill Charter Public School New Bedford,Charter School,Principal,Gail Keith,384 Acushnet Ave,NaN,New Bedford,MA,2740,...,27.0,Insufficient data,NaN,NaN,NaN,NaN,Insufficient data,NaN,NaN,NaN
1847,35030205,Collegiate Charter School of Lowell,Charter School,Principal,Frederick Randall,1857 Middlesex Street,NaN,Lowell,MA,1851,...,NaN,Insufficient data,NaN,NaN,NaN,NaN,Insufficient data,NaN,NaN,NaN
1848,35160305,Hampden Charter School of Science West,Charter School,Principal,Tarkan Topcuoglu,20 Johnson Road,NaN,Chicopee,MA,1022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1849,35140305,Libertas Academy Charter School,Charter School,Principal,Modesto Montero,27 Lyman Street,D14,Springfield,MA,1103,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1850,35170505,Map Academy Charter School,Charter School,Principal,Rachel Babcock,6 Main Street Extension #3169,NaN,Plymouth,MA,2361,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1851,39010900,Massachusetts Virtual Academy at Greenfield Co...,Public School,Principal,Greg Runyan,278 Main St.,Ste. 205,Greenfield,MA,1301,...,20.0,Level 3,Among lowest performing 20% of schools and sub...,7.0,48.0,47.0,Level 3,Among lowest performing 20% of schools and sub...,48.0,47.0
1852,35130305,New Heights Charter School of Brockton,Charter School,Principal,Janice Manning,1690 Main st.,NaN,Brockton,MA,2301,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1853,35150205,Old Sturbridge Academy Charter Public School,Charter School,Principal,James Donahue,1 Old Sturbridge Village Road,NaN,Sturbridge,MA,1566,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1854,35010505,Paulo Freire Social Justice Charter School,Charter School,Principal,Melissa Mirhej,161 Lower Westfield Road,P O Box 1009,Holyoke,MA,1041,...,48.0,Insufficient data,NaN,NaN,NaN,NaN,Insufficient data,NaN,NaN,NaN
1855,35080505,Phoenix Academy Public Charter High School Spr...,Charter School,Principal,Jacqueline Adam-Taylor,65 Lincoln Street,NaN,Springfield,MA,1105,...,3.0,Insufficient data,NaN,NaN,NaN,NaN,Insufficient data,NaN,NaN,NaN
1856,35060505,Pioneer Charter School of Science II (PCSS-II),Charter School,Principal,Vahit Sevinc,97 Main Street,NaN,Saugus,MA,1906,...,30.0,Insufficient data,NaN,NaN,NaN,NaN,Insufficient data,NaN,NaN,NaN
1857,35100205,Springfield Preparatory Charter School,Charter School,Principal,Bill Spirer,370 Pine St.,NaN,Springfield,MA,1105,...,NaN,Insufficient data,NaN,NaN,NaN,NaN,Insufficient data,NaN,NaN,NaN
1858,39020900,TEC Connections Academy Commonwealth Virtual S...,Public School,Principal,Adam Goldberg,141 Mansion Drive,NaN,East Walpole,MA,2032,...,28.0,Level 3,Very low assessment participation (Less than 90%),NaN,NaN,NaN,Level 3,Very low assessment participation (Less than 90%),NaN,NaN
1859,35050405,UP Academy Charter School of Dorchester,Charter School,Principal,Jabari Peddie,35 Westville Street,NaN,Boston,MA,2124,...,NaN,Level 1,Meeting gap narrowing goals,35.0,92.0,98.0,Level 1,Meeting gap narrowing goals,92.0,98.0
1860,35120305,UP Academy Charter School of Springfield,Charter School,Principal,Scott Given,90 Canal Street Suite 610,NaN,Boston,MA,2114,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:

#Output university data
univ

,acceptance-rate,act-avg,aliasNames,businessRepScore,city,cost-after-aid,displayName,engineeringRepScore,enrollment,hs-gpa-avg,...,rankingType,region,sat-avg,schoolType,sortName,state,tuition,urlName,xwalkId,zip
0,7.0,32.0,None,NaN,Princeton,16793.0,Princeton University,4.1,5400.0,3.9,...,national-universities,NaN,1400.0,national-universities,princetonuniversity,NJ,47140,princeton-university,186131,8544
1,5.0,32.0,None,NaN,Cambridge,16338.0,Harvard University,3.6,6710.0,4.0,...,national-universities,NaN,1430.0,national-universities,harvarduniversity,MA,48949,harvard-university,166027,2138
2,8.0,32.0,UChicago,NaN,Chicago,27767.0,University of Chicago,NaN,5941.0,4.0,...,national-universities,NaN,1450.0,national-universities,universityofchicago,IL,54825,university-of-chicago,144050,60637
3,6.0,32.0,None,NaN,New Haven,18385.0,Yale University,3.4,5472.0,NaN,...,national-universities,NaN,1420.0,national-universities,yaleuniversity,CT,51400,yale-university,130794,6520
4,6.0,32.0,None,NaN,New York,21041.0,Columbia University,3.8,6113.0,NaN,...,national-universities,NaN,1430.0,national-universities,columbiauniversity,NY,57208,columbia-university,190150,10027
5,8.0,33.0,MIT,4.6,Cambridge,20331.0,Massachusetts Institute of Technology,4.9,4524.0,NaN,...,national-universities,NaN,1460.0,national-universities,massachusettsinstituteoftechnology,MA,49892,mit,166683,2139
6,5.0,31.0,None,NaN,Stanford,19296.0,Stanford University,4.8,7034.0,NaN,...,national-universities,NaN,1380.0,national-universities,stanforduniversity,CA,49617,stanford,243744,94305
7,9.0,32.0,UPenn,4.8,Philadelphia,25441.0,University of Pennsylvania,3.6,10019.0,3.9,...,national-universities,NaN,1380.0,national-universities,universityofpennsylvania,PA,53534,university-of-pennsylvania,215062,19104
8,11.0,31.0,None,NaN,Durham,23374.0,Duke University,3.7,6609.0,NaN,...,national-universities,NaN,1380.0,national-universities,dukeuniversity,NC,53744,duke-university,198419,27708
9,8.0,34.0,CalTech Cal Tech,NaN,Pasadena,23973.0,California Institute of Technology,4.6,979.0,NaN,...,national-universities,NaN,1510.0,national-universities,californiainstituteoftechnology,CA,49908,cal-tech,110404,91125
10,11.0,30.0,None,NaN,Hanover,23312.0,Dartmouth College,3.2,4310.0,NaN,...,national-universities,NaN,1350.0,national-universities,dartmouthcollege,NH,52950,dartmouth-college,182670,3755
11,12.0,32.0,JHU,NaN,Baltimore,30067.0,Johns Hopkins University,3.9,6117.0,3.9,...,national-universities,NaN,1420.0,national-universities,johnshopkinsuniversity,MD,52170,jhu,162928,21218
12,11.0,32.0,None,NaN,Evanston,31087.0,Northwestern University,4.0,8353.0,NaN,...,national-universities,NaN,1400.0,national-universities,northwesternuniversity,IL,52678,northwestern,147767,60208
13,9.0,31.0,None,NaN,Providence,24482.0,Brown University,3.3,6926.0,NaN,...,national-universities,NaN,1370.0,national-universities,brownuniversity,RI,53419,brown-university,217156,2912
14,14.0,31.0,None,4.2,Ithaca,28068.0,Cornell University,4.2,14566.0,NaN,...,national-universities,NaN,1330.0,national-universities,cornelluniversity,NY,52853,cornell-university,190415,14853
15,15.0,32.0,None,NaN,Houston,23996.0,Rice University,3.7,3893.0,NaN,...,national-universities,NaN,1410.0,national-universities,riceuniversity,TX,45608,rice,227757,77251
16,11.0,32.0,None,NaN,Nashville,23323.0,Vanderbilt University,3.4,6871.0,3.8,...,national-universities,NaN,1420.0,national-universities,vanderbiltuniversity,TN,47664,vanderbilt,221999,37240
17,19.0,32.0,Notre Dame,4.1,Notre Dame,29653.0,University of Notre Dame,3.3,8530.0,NaN,...,national-universities,NaN,1350.0,national-universities,universityofnotredame,IN,51505,notre-dame,152080,46556
18,17.0,32.0,WashU Washington University in St Louis Washin...,4.0,St. Louis,29245.0,Washington University in St. Louis,3.3,7540.0,NaN,...,national-universities,NaN,1400.0,national-universities,washingtonuniversityinstlouis,MO,51533,washington-university-st-louis,179867,63130
19,17.0,30.0,None,3.8,Washington,29667.0,Georgetown University,NaN,7453.0,NaN,...,national-universities,NaN,1320.0,national-universities,georgetownuniversity,DC,52300,georgetown-university,131496,20057
20,25.0,30.0,None,3.8,Atlanta,24264.0,Emory University,NaN,6861.0,3.7,...,national-universities,NaN,1290.0,national-universities,emoryuniversity,GA,49392,emory-university,139658,30322
21,16.0,29.0,UC Berkeley Cal Berkeley University of Califor...,4.5,Berkeley,49614.0,University of California--Berkeley,4.7,29311.0,3.9,...,national-universities,NaN,1300.0,national-universities,universityofcaliforniaberkeley,CA,42112,uc-berkeley,110635,94720
22,18.0,25.0,UCLA University of California Los Angeles,NaN,Los Angeles,42896.0,University of California--Los Angeles,3.8,30873.0,3.9,...,national-universities,NaN,1160.0,national-universities,universityofcalifornialosangeles,CA,41270,ucla,110662,90095
23,17.0,30.0,USC Southern Cal,4.1,Los Angeles,33112.0,University of Southern California,3.6,18794.0,3.7,...,national-universities,NaN,1280.0,national-universities,universityofsoutherncalifornia,CA,54259,usc,123961,90089
24,22.0,31.0,CMU,4.2,Pittsburgh,33550.0,Carnegie Mellon University,4.3,6673.0,3.8,...,national-universities,NaN,1380.0,national-universities,carnegiemellonuniversity,PA,53910,carnegie-mellon-university,211440,15213
25,30.0,29.0,UVA,4.2,Charlottesville,28079.0,University of Virginia,3.4,16331.0,4.0,...,national-universities,NaN,1240.0,national-universities,universityofvirginia,VA,46975,uva,234076,22904
26,30.0,28.0,None,3.4,Winston-Salem,24241.0,Wake Forest University,NaN,4955.0,NaN,...,national-universities,NaN,1240.0,national-universities,wakeforestuniversity,NC,51400,wake-forest,199847,27109
27,29.0,29.0,UM University of Michigan Ann Arbor,4.5,Ann Arbor,32856.0,University of Michigan--Ann Arbor,4.4,28983.0,3.8,...,national-universities,NaN,1310.0,national-universities,universityofmichiganannarbor,MI,47476,university-of-michigan,170976,48109
28,14.0,31.0,None,NaN,Medford,27034.0,Tufts University,3.0,5508.0,NaN,...,national-universities,NaN,1370.0,national-universities,tuftsuniversity,MA,54318,tufts-university,168148,2155
29,32.0,29.0,NYU,4.3,New York,41783.0,New York University,2.9,26135.0,3.6,...,national-universities,NaN,1250.0,national-universities,newyorkuniversity,NY,50464,nyu,193900,10012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,83.0,19.0,UNLV University of Nevada Las Vegas,2.5,Las Vegas,NaN,University of Nevada--Las Vegas,2.2,24714.0,3.3,...,national-universities,NaN,900.0,national-universities,universityofnevadalasvegas,NV,21498,unlv,182281,89154
282,60.0,20.0,None,2.4,New Orleans,NaN,University of New Orleans,NaN,6442.0,3.2,...,national-universities,NaN,950.0,national-universities,universityofneworleans,LA,13530,university-of-new-orleans,159939,70148
283,74.0,21.0,UNC University of North Carolina Greensboro,2.6,Greensboro,NaN,University of North Carolina--Greensboro,NaN,16281.0,3.8,...,national-universities,NaN,910.0,national-universities,universityofnorthcarolinagreensboro,NC,22410,unc-greensboro,199148,27402
284,90.0,19.0,None,2.3,Greeley,NaN,University of Northern Colorado,NaN,9503.0,3.3,...,national-universities,NaN,930.0,national-universities,universityofnortherncolorado,CO,20474,university-of-northern-colorado,127741,80639
285,72.0,20.0,None,2.4,Denton,NaN,University of North Texas,NaN,31209.0,NaN,...,national-universities,NaN,980.0,national-universities,universityofnorthtexas,TX,23716,unt,227216,76203
286,80.0,20.0,None,2.1,Mobile,NaN,University of South Alabama,2.6,11761.0,3.5,...,national-universities,NaN,875.0,national-universities,universityofsouthalabama,AL,19586,south-alabama,102094,36688
287,60.0,20.0,None,2.2,Hattiesburg,NaN,University of Southern Mississippi,NaN,11779.0,3.3,...,national-universities,NaN,940.0,national-universities,universityofsouthernmississippi,MS,9854,university-of-southern-mississippi,176372,39406
288,70.0,20.0,UT Arlington University of Texas Arlington,2.7,Arlington,NaN,University of Texas--Arlington,2.4,32775.0,NaN,...,national-universities,NaN,950.0,national-universities,universityoftexasarlington,TX,25152,university-of-texas-arlington,228769,76019
289,100.0,17.0,UTEP University of Texas El Paso,2.3,El Paso,NaN,University of Texas--El Paso,2.1,20521.0,3.2,...,national-universities,NaN,810.0,national-universities,universityoftexaselpaso,TX,21396,utep,228796,79968
290,63.0,18.0,None,NaN,Edinburg,NaN,University of Texas--Rio Grande Valley,2.1,24433.0,NaN,...,national-universities,NaN,850.0,national-universities,universityoftexasriograndevalley,TX,17230,university-of-texas-rio-grande-valley,227368,78539
291,76.0,20.0,University of Texas San Antonio,2.4,San Antonio,NaN,University of Texas--San Antonio,2.1,24724.0,NaN,...,national-universities,NaN,920.0,national-universities,universityoftexassanantonio,TX,23379,utsa,229027,78249
292,71.0,19.0,None,NaN,Williamsburg,NaN,University of the Cumberlands,NaN,3082.0,3.5,...,national-universities,NaN,860.0,national-universities,universityofthecumberlands,KY,23000,university-of-the-cumberlands,156541,40769
293,94.0,20.0,None,2.3,Toledo,NaN,University of Toledo,2.1,16247.0,3.4,...,national-universities,NaN,920.0,national-universities,universityoftoledo,OH,18578,university-of-toledo,206084,43606
294,41.0,21.0,None,NaN,Pensacola,NaN,University of West Florida,2.1,10082.0,3.6,...,national-universities,NaN,930.0,national-universities,universityofwestflorida,FL,18628,west-florida,138354,32514
295,59.0,18.0,None,2.0,Carrollton,NaN,University of West Georgia,NaN,11155.0,3.2,...,national-universities,NaN,870.0,national-universities,universityofwestgeorgia,GA,20406,university-west-georgia,141334,30118
296,72.0,20.0,University of Wisconsin Milwaukee,2.8,Milwaukee,NaN,University of Wisconsin--Milwaukee,2.4,21375.0,3.1,...,national-universities,NaN,NaN,national-universities,universityofwisconsinmilwaukee,WI,19851,uw-milwaukee,240453,53201
297,65.0,19.0,None,2.1,Valdosta,NaN,Valdosta State University,NaN,8780.0,3.2,...,national-universities,NaN,890.0,national-universities,valdostastateuniversity,GA,17196,valdosta-state,141264,31698
298,92.0,21.0,None,2.3,Wichita,NaN,Wichita State University,2.2,11823.0,3.4,...,national-universities,NaN,915.0,national-universities,wichitastateuniversity,KS,17270,wichita-state-university,156125,67260
299,95.0,18.0,None,2.3,Dayton,NaN,Wright State University,2.2,12504.0,3.3,...,national-universities,NaN,930.0,national-universities,wrightstateuniversity,OH,17350,wright-state,206604,45435
300,NaN,NaN,None,NaN,San Diego,NaN,Alliant International University,NaN,1264.0,2.8,...,national-universities,NaN,NaN,national-universities,alliantinternationaluniversity,CA,17510,alliant-international-university,110468,92131
301,NaN,NaN,Argosy University Chicago,NaN,Orange,NaN,Argosy University,NaN,NaN,NaN,...,national-universities,NaN,NaN,national-universities,argosyuniversity,CA,13152,argosy-university,145770,92868
302,NaN,NaN,None,NaN,San Francisco,NaN,California Institute of Integral Studies,NaN,NaN,NaN,...,national-universities,NaN,NaN,national-universities,californiainstituteofintegralstudies,CA,28467,california-institute-of-integral-studies,110316,94103
303,NaN,NaN,None,NaN,Minneapolis,NaN,Capella University,NaN,NaN,NaN,...,national-universities,NaN,NaN,national-universities,capellauniversity,MN,13998,capella-university,413413,55403
304,NaN,NaN,None,2.4,Pocatello,NaN,Idaho State University,2.1,NaN,NaN,...,national-universities,NaN,NaN,national-universities,idahostateuniversity,ID,21023,idaho-state,142276,83209
305,NaN,NaN,None,NaN,San Diego,NaN,Northcentral University,NaN,133.0,NaN,...,national-universities,NaN,NaN,national-universities,northcentraluniversity,AZ,10368,northcentral-university,444130,86314
306,96.0,NaN,None,NaN,Cypress,NaN,Trident University International,NaN,NaN,NaN,...,national-universities,NaN,NaN,national-universities,tridentuniversityinternational,CA,9000,trident-university-international,450979,90630
307,NaN,NaN,None,NaN,Cincinnati,NaN,Union Institute and University,NaN,NaN,NaN,...,national-universities,NaN,NaN,national-universities,unioninstituteanduniversity,OH,12416,union-institute,206279,45206
308,NaN,NaN,None,NaN,Phoenix,NaN,University of Phoenix,NaN,NaN,NaN,...,national-universities,NaN,NaN,national-universities,universityofphoenix,AZ,9690,university-of-phoenix,372213,85034
309,NaN,NaN,None,NaN,Minneapolis,NaN,Walden University,NaN,NaN,NaN,...,national-universities,NaN,NaN,national-universities,waldenuniversity,MN,12075,walden-university,125231,55401
310,100.0,NaN,None,NaN,New Castle,NaN,Wilmington University,NaN,8873.0,NaN,...,national-universities,NaN,NaN,national-universities,wilmingtonuniversity,DE,10940,wilmington-university,131113,19720