In [11]:
##
## Summary: In the education industry, high schools prep students for the next chapter in his/her life. 
##    Viewing university statistics and massachusetts high school statistics, 
##    do patterns exist to show patterns between the number of students in college from high schools 
##    and the average SAT scores vs average SAT score for universities?
##    Is there correlation between school accountability, SAT scores and theoretical acceptance into universities?
##    Is the MCAS high school test a good evaluation of students compared to universities' ranks and requirements?
##    
##    The first dataset is:
##        
##        
##        
##    The second dataset is:
##        
##        

#Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


#Import the first dataset (Massachusetts high school)
mshs=pd.read_csv('../data/external/MA_Public_Schools_2017.csv')

#Import the second dataset (University data)
univ=pd.read_json('../data/external/schoolInfo.json')

,Average Class Size,Number of Students,Salary Totals,Average Salary,FTE Count,In-District Expenditures,Total In-district FTEs,Average In-District Expenditures per Pupil,Total Expenditures,Total Pupil FTEs,...,AP_Score=2,AP_Score=3,AP_Score=4,AP_Score=5,% AP_Score 1-2,% AP_Score 3-5,SAT_Tests Taken,Average SAT_Reading,Average SAT_Writing,Average SAT_Math
0,15.8,451.0,9489496.0,74662.0,127.0,2.336571e+07,1939.0,12050.39,2.722910e+07,2051.8,...,46.0,40.0,20.0,9.0,43.9,56.1,98.0,520.0,498.0,516.0
1,24.6,643.0,9489496.0,74662.0,127.0,2.336571e+07,1939.0,12050.39,2.722910e+07,2051.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,14.6,208.0,9489496.0,74662.0,127.0,2.336571e+07,1939.0,12050.39,2.722910e+07,2051.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,21.1,342.0,9489496.0,74662.0,127.0,2.336571e+07,1939.0,12050.39,2.722910e+07,2051.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,30.4,334.0,9489496.0,74662.0,127.0,2.336571e+07,1939.0,12050.39,2.722910e+07,2051.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,20.1,558.0,4543438.0,64906.0,70.0,1.082538e+07,967.5,11189.03,1.520115e+07,1281.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,16.9,426.0,4543438.0,64906.0,70.0,1.082538e+07,967.5,11189.03,1.520115e+07,1281.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,11.9,191.0,20849537.0,64769.0,322.0,5.387163e+07,3976.8,13546.48,5.904428e+07,4110.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,16.8,1242.0,20849537.0,64769.0,322.0,5.387163e+07,3976.8,13546.48,5.904428e+07,4110.8,...,124.0,155.0,105.0,40.0,33.6,66.4,234.0,496.0,475.0,514.0
9,11.8,607.0,20849537.0,64769.0,322.0,5.387163e+07,3976.8,13546.48,5.904428e+07,4110.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,16.8,361.0,20849537.0,64769.0,322.0,5.387163e+07,3976.8,13546.48,5.904428e+07,4110.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,19.8,296.0,20849537.0,64769.0,322.0,5.387163e+07,3976.8,13546.48,5.904428e+07,4110.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,18.2,315.0,20849537.0,64769.0,322.0,5.387163e+07,3976.8,13546.48,5.904428e+07,4110.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,16.8,598.0,20849537.0,64769.0,322.0,5.387163e+07,3976.8,13546.48,5.904428e+07,4110.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,17.7,385.0,20849537.0,64769.0,322.0,5.387163e+07,3976.8,13546.48,5.904428e+07,4110.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,20.4,423.0,12158388.0,77147.0,158.0,2.954145e+07,2272.2,13001.25,3.366808e+07,2444.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,16.7,621.0,12158388.0,77147.0,158.0,2.954145e+07,2272.2,13001.25,3.366808e+07,2444.7,...,22.0,37.0,43.0,31.0,19.0,81.0,115.0,531.0,518.0,534.0
17,7.6,33.0,12158388.0,77147.0,158.0,2.954145e+07,2272.2,13001.25,3.366808e+07,2444.7,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN
18,18.4,696.0,12158388.0,77147.0,158.0,2.954145e+07,2272.2,13001.25,3.366808e+07,2444.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,22.1,509.0,12158388.0,77147.0,158.0,2.954145e+07,2272.2,13001.25,3.366808e+07,2444.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,18.1,405.0,8191622.0,71730.0,114.0,2.440072e+07,1183.5,20617.42,2.599994e+07,1284.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,20.2,348.0,8191622.0,71730.0,114.0,2.440072e+07,1183.5,20617.42,2.599994e+07,1284.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,20.1,417.0,8191622.0,71730.0,114.0,2.440072e+07,1183.5,20617.42,2.599994e+07,1284.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,14.7,1799.0,37560123.0,81211.0,463.0,9.010363e+07,6128.1,14703.35,9.730936e+07,6237.1,...,134.0,204.0,233.0,221.0,21.9,78.1,393.0,566.0,562.0,581.0
24,19.9,541.0,37560123.0,81211.0,463.0,9.010363e+07,6128.1,14703.35,9.730936e+07,6237.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,22.1,614.0,37560123.0,81211.0,463.0,9.010363e+07,6128.1,14703.35,9.730936e+07,6237.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,19.4,557.0,37560123.0,81211.0,463.0,9.010363e+07,6128.1,14703.35,9.730936e+07,6237.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,22.1,397.0,37560123.0,81211.0,463.0,9.010363e+07,6128.1,14703.35,9.730936e+07,6237.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,23.7,522.0,37560123.0,81211.0,463.0,9.010363e+07,6128.1,14703.35,9.730936e+07,6237.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,12.5,100.0,37560123.0,81211.0,463.0,9.010363e+07,6128.1,14703.35,9.730936e+07,6237.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1831,19.3,250.0,143116198.0,78256.0,1829.0,3.400517e+08,25025.6,13588.16,3.887596e+08,27965.8,...,23.0,15.0,5.0,1.0,76.7,23.3,37.0,435.0,428.0,471.0
1832,19.9,542.0,143116198.0,78256.0,1829.0,3.400517e+08,25025.6,13588.16,3.887596e+08,27965.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1833,13.0,145.0,143116198.0,78256.0,1829.0,3.400517e+08,25025.6,13588.16,3.887596e+08,27965.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1834,14.3,360.0,143116198.0,78256.0,1829.0,3.400517e+08,25025.6,13588.16,3.887596e+08,27965.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1835,23.6,639.0,143116198.0,78256.0,1829.0,3.400517e+08,25025.6,13588.16,3.887596e+08,27965.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1836,21.9,418.0,143116198.0,78256.0,1829.0,3.400517e+08,25025.6,13588.16,3.887596e+08,27965.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1837,20.1,780.0,143116198.0,78256.0,1829.0,3.400517e+08,25025.6,13588.16,3.887596e+08,27965.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1838,16.2,1348.0,143116198.0,78256.0,1829.0,3.400517e+08,25025.6,13588.16,3.887596e+08,27965.8,...,73.0,56.0,19.0,4.0,69.5,30.5,209.0,432.0,422.0,437.0
1839,5.9,52.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1840,19.8,453.0,5495086.0,70996.0,77.0,1.367437e+07,1039.9,13149.70,1.413403e+07,1055.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1841,18.7,625.0,5495086.0,70996.0,77.0,1.367437e+07,1039.9,13149.70,1.413403e+07,1055.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1842,25.5,204.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1843,16.1,299.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1844,15.4,237.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1845,13.5,228.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1846,14.3,130.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1847,26.7,498.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1848,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1849,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1850,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1851,25.2,637.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,13.0,532.0,505.0,515.0
1852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1853,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1854,14.9,312.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,32.0,413.0,410.0,410.0
1855,20.3,179.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1856,18.8,267.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.0,7.0,1.0,7.0,44.4,55.6,NaN,NaN,NaN,NaN
1857,27.0,108.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1858,25.7,1014.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.0,5.0,2.0,1.0,52.9,47.1,17.0,514.0,491.0,472.0
1859,21.9,655.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
#Cleaning up MA school data

#------------Dropping Columns------------
#Drop columns regarding MCAS scores from grades 3-8 as this is not viewed for university data. Goal:higher relevancy in grade 10
mshsFirst=mshs.iloc[:,0:31].copy()

mshsSecond=mshs.iloc[:,181:195].copy()

mshsLast=mshs.iloc[:,280:302].copy()

#also drop all demographics of students.
mshsdemo=mshs.iloc[:,51:97].copy()

#merge the tables
mshsFinal=mshsFirst.join(mshsdemo,how='outer')
mshsFinal=mshsFinal.join(mshsSecond, how='outer')
mshsFinal=mshsFinal.join(mshsLast,how='outer')

#Dropping...
#Function: column 4----1 unique values=MA
#Contact name: column 5--- not irrelevant in detecting acceptance to universities
#Address 1 & 2: column 6,7---also not irrelevant. Can generalize by town.
#State:col 9---all MA
#Phone and Fax:col 10,11---also not irrelevant

mshsFinal=mshsFinal.drop(columns=['Function','Contact Name','Address 1','Address 2',
                                  'State','Phone','Fax','PK_Enrollment','K_Enrollment', '1_Enrollment',
                                  '2_Enrollment','3_Enrollment','4_Enrollment','5_Enrollment','6_Enrollment',
                                  '7_Enrollment', '8_Enrollment','Accountability and Assistance Level',
                                  'Accountability and Assistance Description','District_Accountability and Assistance Level',
                                  'District_Accountability and Assistance Description','Progress and Performance Index (PPI) - High Needs Students',
                                  'District_Progress and Performance Index (PPI) - High Needs Students',])


##------------Remove all non high schools or nonenrollment of seniors#------------
mshsFinal=mshsFinal[mshsFinal['12_Enrollment'] > 0]

##------------Remove all rows without SAT data and district performance progress------------
mshsFinal=mshsFinal.dropna(subset=['SAT_Tests Taken','School Accountability Percentile (1-99)'])

#Remove all rows without average SAT reading and SAT Math
mshsFinal=mshsFinal[mshsFinal['Average SAT_Reading']>0]
mshsFinal=mshsFinal[mshsFinal['Average SAT_Math']>0]

#Output MA Public School data....
#mshsFinal

In [3]:
#Cleaning up university data

#----------Dropping columns----------
#aliasNames=not relevant to viewing patterns between high school acceptance based on SAT data and demographics
#businessRepScore=most entries are NaN
#sortname=not relevant
#primaryphoto=not relevant
#primary photothumb=not relevant
#rankingdisplayname=not relevant
#rankingNoteCharacter=not relevant
#rankingNoteText=not relevant
#sortname=not relevant
#urlname=not relevant
#xwalkId=not relevant
#act-avg=not relevant
#all student demographic is not related.

univ=univ.drop(columns=['act-avg','aliasNames','businessRepScore','sortName','primaryPhoto','primaryPhotoThumb','rankingType','rankingMaxPossibleScore','rankingDisplayName','rankingNoteText','rankingNoteCharacter','sortName','urlName','xwalkId'])

#remove non entries in sat-avg
univ=univ.dropna(subset=['sat-avg'])

#Output university data
#univ

In [4]:
#----------Transforming High School Data----------
#Transform high school public to boolean
#The data on school type is public OR charter school.
#charter schools seen as public from federal education department
mshsFinal.rename(columns={'School Type':'isPublic'}, inplace=True)
mshsFinal['isPublic']=True

#Change town to city column name
mshsFinal.rename(columns={'Town':'City'},inplace=True)

#Add column categorizing high schools vs universities (will help with merge)
mshsFinal.loc[:,'schoolType']=pd.Series('high-school', index=mshsFinal.index, dtype="category")

#Adding column and calculating average SAT scores
mshsFinal.loc[:,'sat-avg']=mshsFinal['Average SAT_Reading']+mshsFinal['Average SAT_Math']

0       1036.0
8       1010.0
16      1065.0
23      1147.0
33      1173.0
43      1125.0
50       998.0
60       993.0
64       948.0
66      1018.0
74      1138.0
78      1088.0
84      1033.0
89      1197.0
99      1040.0
106     1061.0
115      784.0
120      872.0
122      827.0
124     1276.0
125     1083.0
127      749.0
131      779.0
134      711.0
145      690.0
148      799.0
153      750.0
154      829.0
172      735.0
188      800.0
         ...
1650     962.0
1654    1037.0
1659    1214.0
1661     984.0
1672    1215.0
1675    1048.0
1679    1014.0
1688     995.0
1695    1191.0
1706    1053.0
1707     910.0
1717    1206.0
1721    1231.0
1732    1135.0
1745    1013.0
1753    1017.0
1755     936.0
1763    1041.0
1768     934.0
1778    1204.0
1781     975.0
1792    1011.0
1796     909.0
1802     725.0
1805     952.0
1822     809.0
1826     913.0
1831     906.0
1838     869.0
1851    1047.0
Name: sat-avg, Length: 321, dtype: float64

In [6]:
#Transforming University Data

#Change column for university name, city, zip for merge
univ.rename(columns={'displayName':'School Name', 'city':'City','zip':'Zip'}, inplace=True)

#alter column to match column of other dataset
univ['schoolType']=univ['schoolType'].astype("category")

In [6]:
#################BREAK UP BELOW INTO DIFFERENT KERNELS###############################
#----------Setup columns in preparation for merge----------
#Create new column for each set named: school_type which shows the differences between universities and high schools selected

#Calculate the average SAT scores for high school and create into column:sat_avg

#Alter school type column and data to properly setup merge



####################################################################################


#Start exploring data

#print table of percentage SAT vs % went to college
#mshsPercentSAT=mshsFinal.copy()

#mshsPercentSAT=mshsPercentSAT.loc[:,['SAT_Tests Taken','% Attending College']]
#mshsPercentSAT.plot()

####################################################################################

In [12]:
univ.columns

Index(['acceptance-rate', 'City', 'cost-after-aid', 'School Name',
       'engineeringRepScore', 'enrollment', 'hs-gpa-avg',
       'institutionalControl', 'isPublic', 'nonResponder', 'nonResponderText',
       'overallRank', 'percent-receiving-aid', 'primaryKey', 'ranking',
       'rankingDisplayRank', 'rankingDisplayScore', 'rankingIsTied',
       'rankingRankStatus', 'rankingSortRank', 'region', 'sat-avg',
       'schoolType', 'state', 'tuition', 'Zip'],
      dtype='object')

In [14]:
mshsFinal.columns

Index(['School Code', 'School Name', 'School Type', 'Town', 'Zip', 'Grade',
       'District Name', 'District Code', '9_Enrollment', '10_Enrollment',
       '11_Enrollment', '12_Enrollment', 'SP_Enrollment', 'TOTAL_Enrollment',
       'Average Class Size', 'Number of Students', 'Salary Totals',
       'Average Salary', 'FTE Count', 'In-District Expenditures',
       'Total In-district FTEs', 'Average In-District Expenditures per Pupil',
       'Total Expenditures', 'Total Pupil FTEs',
       'Average Expenditures per Pupil', '# in Cohort', '% Graduated',
       '% Still in School', '% Non-Grad Completers', '% GED', '% Dropped Out',
       '% Permanently Excluded', 'High School Graduates (#)',
       'Attending Coll./Univ. (#)', '% Attending College',
       '% Private Two-Year', '% Private Four-Year', '% Public Two-Year',
       '% Public Four-Year', '% MA Community College', '% MA State University',
       '% UMass', 'AP_Test Takers', 'AP_Tests Taken', 'AP_One Test',
       'AP_Two Tests', 'AP_Three Tests', 'AP_Four Tests',
       'AP_Five or More Tests', 'AP_Score=1', 'AP_Score=2', 'AP_Score=3',
       'AP_Score=4', 'AP_Score=5', '% AP_Score 1-2', '% AP_Score 3-5',
       'SAT_Tests Taken', 'Average SAT_Reading', 'Average SAT_Writing',
       'Average SAT_Math', 'MCAS_10thGrade_Math_P+A #',
       '% MCAS_10thGrade_Math_P+A', 'MCAS_10thGrade_Math_A #',
       '% MCAS_10thGrade_Math_A', 'MCAS_10thGrade_Math_P #',
       '% MCAS_10thGrade_Math_P', 'MCAS_10thGrade_Math_NI #',
       '% MCAS_10thGrade_Math_NI', 'MCAS_10thGrade_Math_W/F #',
       '% MCAS_10thGrade_Math_W/F', 'MCAS_10thGrade_Math_Stud. Incl. #',
       'MCAS_10thGrade_Math_CPI', 'MCAS_10thGrade_Math_SGP',
       'MCAS_10thGrade_Math_Incl. in SGP(#)', '% MCAS_10thGrade_English_P+A',
       'MCAS_10thGrade_English_A #', '% MCAS_10thGrade_English_A',
       'MCAS_10thGrade_English_P #', '% MCAS_10thGrade_English_P',
       'MCAS_10thGrade_English_NI #', '% MCAS_10thGrade_English_NI',
       'MCAS_10thGrade_English_W/F #', '% MCAS_10thGrade_English_W/F',
       'MCAS_10thGrade_English_Stud. Incl. #', 'MCAS_10thGrade_English_CPI',
       'MCAS_10thGrade_English_SGP', 'MCAS_10thGrade_English_Incl. in SGP(#)',
       'School Accountability Percentile (1-99)',
       'Progress and Performance Index (PPI) - All Students',
       'District_Progress and Performance Index (PPI) - All Students'],
      dtype='object')